.info-tooltip__icon {
    margin: 0 0 32px 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: 120px;
    min-height: 120px;
}  

@media screen and (max-width: 424px) {
  
    .info-tooltip__icon {
      margin: 0 0 40px 0;
    }

 }
  